* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #222;
  color: #eee;
}

header {
  height: 35vh;
  border-bottom: 10px solid #eee;
  position: relative;
}
.again-box {
  padding: 15px 30px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.between {
  position: absolute;
  right: 20px;
  top: 30px;
}
.question {
  color: #222;
  background-color: #eee;
  padding: 30px 40px;
  position: absolute;
  font-size: 80px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.guess-my-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 50px;
}
/* body */
.check-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 18rem;
  margin-top: 6rem;
}
/* numbers & check section */
.left {
  text-align: center;
}
.check-box {
  padding: 15px 30px;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  cursor: pointer;
}
.guess {
  font-size: 70px;
  width: 160px;
  display: block;
  height: 100px;
  padding: 10px;
  text-align: center;
  background-color: #222;
  border: 2px solid #eee;
  border-radius: 3px;
  color: #eee;
  font-family: "Press Start 2P", cursive;
}
/* scores section */

.label-start {
  padding-bottom: 5rem;
  font-size: 1.5rem;
}
.label-score {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.Label-highscore {
  font-size: 1.5rem;
}
